# server config
PORT=3000

# database config
DB_HOST=127.0.0.1
DB_USER=user
DB_PASSWORD=123456
DB_NAME=minecraft

# napcat config
NAPCAT_URL=ws://127.0.0.1:3002
NAPCAT_TOKEN=123456
NAPCAT_GROUPID=123456789
